@model Book
<p>Delete a Book</p>
<form method="post">
	<div class="border p-3 mt-4">
		<div class="mb-3 row">
			<label asp-for="Title"></label>
			<input disabled asp-for="Title" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Description"></label>
			<input disabled asp-for="Description" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Author"></label>
			<input disabled asp-for="Author" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Price"></label>
			<input disabled asp-for="Price" />
		</div>
		<div class="mb-3 row">
			<label asp-for="CategoryId"></label>
			<input disabled asp-for="CategoryId" />
		</div>
		<button type="submit" class="btn btn-primary">Delete</button>
		<a asp-controller="Book" asp-action="Index" class="btn btn-primary">Return</a>
	</div>
</form>